    <link rel="stylesheet" href="oldandbusted/css/main.css">
    <script src="oldandbusted/js/main.js"></script>
    <div class="els-ui">
        <div class="inner-els-ui">
            <div class="subinner-els-ui">
				<div class="els-ui-header">
					<div class="els-ui-header-main">
						MAIN
					</div>
					<div class="els-ui-stage-container">
						<div class="els-ui-stage-item stage-off" id="stage1">S-1</div><div class="els-ui-stage-item els-ui-stage-middle stage-off" id="stage2">S-2</div><div class="els-ui-stage-item stage-off" id="stage3">S-3</div>
					</div>
					<div class="els-ui-header-name">
						LUXART SYSTEMS
					</div>
				</div>
				<div class="els-ui-main">
					<div class="els-ui-pattern-container-container">
						<div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-off" id="wrnBox">
									WRN
								</div>
								<div class="els-ui-pattern-text text-stage-off" id="wrnPatt"></div>
							</div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-off" id="prmBox">
									PRM
								</div>
								<div class="els-ui-pattern-text text-stage-off" id="prmPatt"></div>
							</div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-off" id="secBox">
									SEC
								</div>
								<div class="els-ui-pattern-text text-stage-off" id="secPatt"></div>
							</div>
						</div>
						<div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-grey" id="hrnBox">
									HRN
								</div>
								<div class="els-ui-pattern-text text-stage-grey" id="hrnType"></div>
							</div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-grey" id="srnBox">
									SRN
								</div>
								<div class="els-ui-pattern-text text-stage-grey" id="srnType"></div>
							</div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-grey" id="srmBox">
									SRM
								</div>
								<div class="els-ui-pattern-text text-stage-grey" id="srmType">SB</div>
							</div>
						</div>
					</div>
					<div class="els-ui-lights-flash-container">
						<div>
							<div id="extra5" class="lights-front light-off"></div>
							<div id="extra6" class="lights-front light-off"></div>
						</div>
						<div>
							<div id="" class="lights-null-tall light-off"></div>
							<div id="" class="lights-null-small light-off"></div>
							<div id="extra12-1" class="lights-tkdn light-off"></div>
							<div id="extra12-2" class="lights-tkdn light-off"></div>
							<div id="" class="lights-null-small light-off"></div>
							<div id="" class="lights-null-tall light-off"></div>
						</div>
						<div>
							<div id="extra1" class="lights-main light-off"></div>
							<div id="extra2" class="lights-main light-off"></div>
							<div id="extra3" class="lights-main light-off"></div>
							<div id="extra4" class="lights-main light-off"></div>
						</div>
						<div>
							<div id="extra7" class="lights-rear light-off"></div>
							<div id="extra8" class="lights-rear light-off"></div>
							<div id="extra9" class="lights-rear light-off"></div>
						</div>
					</div>
					<div class="els-ui-pattern-container-container els-ui-container-right">
						<div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-off" id="">
									WW
								</div>
								<div class="els-ui-pattern-toggle stage-grey pattern-toggle-bottom" id="">
									STR
								</div>
							</div>
						</div>
						<div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-grey" id="togCrs">
									CRS
								</div>
								<div class="els-ui-pattern-toggle stage-grey pattern-toggle-bottom" id="">
									-
								</div>
							</div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-grey" id="togTkdn">
									TKD
								</div>
								<div class="els-ui-pattern-toggle stage-grey pattern-toggle-bottom" id="togScl">
									SCL
								</div>
							</div>
							<div class="els-ui-pattern-container">
								<div class="els-ui-pattern-toggle stage-grey" id="srmBox">
									BKT
								</div>
								<div class="els-ui-pattern-toggle stage-grey pattern-toggle-bottom" id="">
									NTL
								</div>
							</div>
						</div>
					</div>
					<div class="els-ui-footer">
						<span class="els-ui-footer-left">EMERGENCY LIGHTING SYSTEM</span>
						<span class="els-ui-footer-right">MODEL 1.00</span>
						<span class="els-ui-footer-middle">READ MANUAL BEFORE USE</span>
					</div>
				</div>
			</div>
		</div>
    </div>