@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    overflow: hidden;
}

.container {
    display: none;
    height: 100vh;
}

.cityhall-main-container{
    position: relative;
    background-position: center center;
    background-image: url('./img/img-1.jpg');
    backface-visibility: hidden;
    animation: slideBg 10s ease-in-out infinite 0s;
    animation-timing-function: ease-in-out;
    width: 100vh;
    height: 70vh;
    margin: 0 auto;
    top: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.226);
}

.header-logo {
    position: relative;
    width: 11.5vh;
    padding: 0.75vh;
}

@keyframes slideBg {
    0% {
        background-image: url('./img/img-1.jpg');
    }
    25% {
        background-image: url('./img/img-1.jpg');
    }
    50% {
        background-image: url('./img/img-2.jpg');
    }
    95% {
        background-image: url('./img/img-2.jpg');
    }
    100% {
        background-image: url('./img/img-1.jpg');
    }
}

.cityhall-header {
    position: relative;
    width: 100%;
    height: 13vh;
    background: white;
}

.cityhall-option-blocks {
    position: relative;
    height: 40vh;
    width: 80vh;
    margin: 0 auto;
    top: 5vh;
    background: rgba(37, 37, 37, 0.418)
}

.cityhall-identity-page {
    display: none;
    position: relative;
    height: 40vh;
    width: 80vh;
    margin: 0 auto;
    top: 5vh;
    background: rgba(37, 37, 37, 0.418)
}

.cityhall-job-page {
    display: none;
    position: relative;
    height: 40vh;
    width: 80vh;
    margin: 0 auto;
    top: 5vh;
    background: rgba(37, 37, 37, 0.418)
}

.cityhall-option-block {
    position: relative;
    width: 18vh;
    height: 18vh;
    float: left;
    margin-right: 2vh;
    margin-bottom: 2vh;
    left: 1vh;
    top: 1vh;
    text-align: center;
    border-bottom: 6px solid rgba(255, 255, 255, 0);
    transition: all 0.1s linear;
}

.cityhall-option-block:hover {
    border-bottom: 6px solid rgb(255, 255, 255);
    opacity: 0.9;
}

.cityhall-option-block > i {
    font-size: 5vh;
    line-height: 10vh;
    color: white;
}

.cityhall-option-block > p {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1vh;
    font-size: 1.6vh;
}

.identity-page-blocks {
    position: relative;
    height: 100%;
    width: 25%;
    padding: 1vh;
}

.identity-page-block {
    width: 100%;
    height: 15%;
    background: rgb(212, 53, 53);
    transition: all 0.1s ease-in-out;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.identity-page-block:hover {
    background: rgb(255, 58, 58);
}

.identity-page-block > p {
    position: relative;
    text-align: center;
    line-height: 6vh;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1vh;
    color: white;
    font-size: 1.3vh;
}

.hover-description {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1vh;
    margin: 4vh;
    background: rgba(34, 34, 34, 0.75);
    border-radius: 1vh;
}

.hover-description > p {
    color: white;
    font-family: 'Montserrat';
    font-size: 1.3vh;
}

.identity-selected {
    border-bottom: 2px solid #fff;
}

.request-identity-button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5vh;
    width: 20vh;
    height: 5vh;
    background: rgb(235, 50, 50);
}

.request-identity-button > p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.1vh;
    font-weight: bold;
    line-height: 3vh;
    letter-spacing: 0.05vh;
}

.job-page-blocks {
    position: relative;
    height: 100%;
    width: 25%;
    padding: 1vh;
}

.job-page-block {
    width: 100%;
    height: 15%;
    background: rgb(212, 53, 53);
    transition: all 0.1s ease-in-out;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.job-page-block:hover {
    background: rgb(255, 58, 58);
}

.job-page-block > p {
    position: relative;
    text-align: center;
    line-height: 6vh;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1vh;
    color: white;
    font-size: 1.3vh;
}

.apply-job-button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5vh;
    width: 20vh;
    height: 5vh;
    background: rgb(235, 50, 50);
    transition: all 0.1s linear;
}

.apply-job-button:hover {
    background: rgb(255, 82, 82);
}

.apply-job-button > p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.1vh;
    font-weight: bold;
    line-height: 3vh;
    letter-spacing: 0.05vh;
}

.job-selected {
    border-bottom: 2px solid #fff;
}

.back-to-main {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1vh;
    width: 20vh;
    height: 5vh;
    background: rgb(235, 50, 50);
    transition: all 0.1s linear;
}

.back-to-main > p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.1vh;
    font-weight: bold;
    line-height: 3vh;
    letter-spacing: 0.05vh;
}